Repository ShirimpBurger/WorldCup, pull requests merged in 2021-05, with the labels that each got.

#18 close #17 알람 뷰 작업
  app/src/main/java/com/hbs/worldcup/core/BaseActivity.kt
  app/src/main/java/com/hbs/worldcup/ui/quizlist/QuizListActivity.kt
  app/src/main/java/com/hbs/worldcup/ui/quizlist/alarm/AlarmDialog.kt
  app/src/main/java/com/hbs/worldcup/ui/quizlist/alarm/AlarmListAdapter.kt
  app/src/main/res/drawable/ic_notification.xml
  app/src/main/res/drawable/rounded_dialog.xml
  app/src/main/res/layout/alarm_dialog_layout.xml
  app/src/main/res/layout/alarm_item.xml
  app/src/main/res/layout/quiz_list_activity.xml
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
  domain/src/main/java/com/hbs/domain/model/AlarmItem.kt
Labels: domain, layout, ui

#24 close #24 프레그먼트 규격화
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/gradle.xml
  .idea/vcs.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hbs/worldcup/ui/MainActivity.kt
  app/src/main/java/com/hbs/worldcup/ui/create/CreateFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/DashboardFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/history/HistoryFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/project/ProjectFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/setting/SettingFragment.kt
  app/src/main/res/layout/create_fragment.xml
  app/src/main/res/layout/dashboard_fragment.xml
  app/src/main/res/layout/history_fragment.xml
  app/src/main/res/layout/main_activity.xml
  app/src/main/res/layout/project_fragment.xml
  app/src/main/res/layout/setting_fragment.xml
  app/src/main/res/menu/main_bottom_navigation.xml
  app/src/main/res/navigation/main_navigation.xml
  build.gradle
Labels: gradle, layout, ui

#25 closed #22 대시보드 화면으로 변경
  app/src/main/java/com/hbs/worldcup/ui/dashboard/DashboardFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/DashboardListAdapter.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/DashboardViewModel.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/alarm/AlarmDialog.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/alarm/AlarmListAdapter.kt
  app/src/main/java/com/hbs/worldcup/ui/quizlist/QuizListActivity.kt
  app/src/main/res/drawable/bg_card_item.xml
  app/src/main/res/drawable/rounded_tab_indicator.xml
  app/src/main/res/layout/dashboard_fragment.xml
  app/src/main/res/layout/large_card_item.xml
  app/src/main/res/layout/new_quiz_item.xml
  app/src/main/res/layout/quiz_list_activity.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
  data/src/main/res/drawable-v24/ic_launcher_foreground.xml
  data/src/main/res/drawable/ic_launcher_background.xml
  data/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  data/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  data/src/main/res/mipmap-hdpi/ic_launcher.png
  data/src/main/res/mipmap-hdpi/ic_launcher_round.png
  data/src/main/res/mipmap-mdpi/ic_launcher.png
  data/src/main/res/mipmap-mdpi/ic_launcher_round.png
  data/src/main/res/mipmap-xhdpi/ic_launcher.png
  data/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  data/src/main/res/mipmap-xxhdpi/ic_launcher.png
  data/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  data/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  data/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  data/src/main/res/values-night/themes.xml
  data/src/main/res/values/colors.xml
  data/src/main/res/values/strings.xml
  data/src/main/res/values/themes.xml
Labels: ui

#27 close#21 Setting화면 만들기
  app/build.gradle
  app/src/main/java/com/hbs/worldcup/core/BaseActivity.kt
  app/src/main/java/com/hbs/worldcup/core/BaseFragment.kt
  app/src/main/java/com/hbs/worldcup/core/Event.kt
  app/src/main/java/com/hbs/worldcup/extensions/StingConfigs.kt
  app/src/main/java/com/hbs/worldcup/extensions/ViewExtensions.kt
  app/src/main/java/com/hbs/worldcup/mappers/DomainToPresentation.kt
  app/src/main/java/com/hbs/worldcup/mappers/PresentationToDomain.kt
  app/src/main/java/com/hbs/worldcup/models/ActivityInitializer.kt
  app/src/main/java/com/hbs/worldcup/models/FragmentInitializer.kt
  app/src/main/java/com/hbs/worldcup/models/OneLineWithTaskItem.kt
  app/src/main/java/com/hbs/worldcup/ui/MainActivity.kt
  app/src/main/java/com/hbs/worldcup/ui/dashboard/DashboardListAdapter.kt
  app/src/main/java/com/hbs/worldcup/ui/quiz/QuizActivity.kt
  app/src/main/java/com/hbs/worldcup/ui/setting/SettingAdapter.kt
  app/src/main/java/com/hbs/worldcup/ui/setting/SettingFragment.kt
  app/src/main/java/com/hbs/worldcup/ui/setting/SettingViewModel.kt
  app/src/main/res/drawable/ic_moon.xml
  app/src/main/res/layout/alarm_dialog_layout.xml
  app/src/main/res/layout/alarm_item.xml
  app/src/main/res/layout/dashboard_fragment.xml
  app/src/main/res/layout/main_activity.xml
  app/src/main/res/layout/one_line_card_item.xml
  app/src/main/res/layout/one_line_with_title_card_item.xml
  app/src/main/res/layout/quiz_activity.xml
  app/src/main/res/layout/setting_fragment.xml
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
  build.gradle
  data/build.gradle
  data/src/main/java/com/hbs/data/local/dao/SettingDao.kt
  data/src/main/java/com/hbs/data/local/database/SettingDatabase.kt
  data/src/main/java/com/hbs/data/local/di/DatabaseModule.kt
  data/src/main/java/com/hbs/data/local/di/PreferenceModule.kt
  data/src/main/java/com/hbs/data/local/di/RepositoryModule.kt
  data/src/main/java/com/hbs/data/local/model/SettingEntity.kt
  data/src/main/java/com/hbs/data/local/repository/SettingRepository.kt
  data/src/main/java/com/hbs/data/local/repository/SharedPreferenceRepository.kt
  domain/build.gradle
  domain/src/main/java/com/hbs/domain/di/RepositoryModule.kt
  domain/src/main/java/com/hbs/domain/di/UseCaseModule.kt
  domain/src/main/java/com/hbs/domain/mapper/DomainToEntity.kt
  domain/src/main/java/com/hbs/domain/mapper/EntityToDomain.kt
  domain/src/main/java/com/hbs/domain/model/SettingDomain.kt
  domain/src/main/java/com/hbs/domain/usecase/SettingUseCase.kt
Labels: domain, enhancement, gradle, layout, ui

#31 close #30 Setting 레이아웃 토글 및 스낵바 추가
  app/src/main/java/com/hbs/worldcup/extensions/ViewExtensions.kt
  app/src/main/java/com/hbs/worldcup/models/OneLineWithTaskItem.kt
  app/src/main/java/com/hbs/worldcup/ui/setting/SettingFragment.kt
  app/src/main/res/drawable/ic_moon.xml
  app/src/main/res/drawable/ic_moon_color.xml
  app/src/main/res/drawable/ic_notification_fill.xml
  app/src/main/res/layout/one_line_with_title_card_item.xml
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values/colors.xml
Labels: ui

#33 close #32 Parallax 뷰 개선
  .idea/codeStyles/Project.xml
  .idea/misc.xml
  app/src/main/java/com/hbs/worldcup/ui/custom/ParallaxScrollingView.kt
  app/src/main/java/com/hbs/worldcup/ui/quiz/QuizViewPagerAdapter.kt
  app/src/main/res/drawable/burger.jpg
  app/src/main/res/layout/parallax_scrolling_view.xml
  app/src/main/res/layout/quiz_item.xml
  app/src/main/res/xml/parallax_scrolling_view_scene.xml
Labels: ui
